body{
    margin:0;
    padding: 0;
}
.nav{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    box-shadow: 6px 0 10px rgba(0, 0, 0, 0.3);
}
.image{
    width: 5rem;
}

.nav-items{
    list-style-type: none;
    display: flex;
    
    
}
.nav-items li{
    padding: 10px;
    
}

/* 2nd part the main content  */
.mainContent{
    padding: 10px;
    margin-top: 15px;
}
.mainContent h1{
    color:blue;
}
.reasons{
    font-size: 20px;
} 
.reasons > li{
    padding: 5px;
}
.footer{
    background: gray;
    color: white;
    padding: 10px;
    font-size: 17px;
}